:root {
    --black: #141414;
    --dark-green: #1E2827;
    --white: #fff;
    --grey: #14141480;
    --grey-two: #FFFFFF80;
    --white-transparent: #ffffff1a;
    --black-transparent: #14141480;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    color: var(--black);
    background-color: var(--white);
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    margin: 80px 0;
}

.dark {
    color: var(--white);
    background-color: var(--black);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    width: 14px;
    height: 14px;
    background: url(../images/logo.svg) no-repeat center;
}

.logo-text {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
}

.button {
    display: inline-block;
    color: var(--white);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    padding: 14px 28px;
    border: 1px solid transparent   ;
    border-radius: 8px;
    background-color: var(--dark-green);
}

.button:hover {
    border: 1px solid var(--white);
}

.heading-one {
    font-size: 38px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1.52px;
}

.heading-two {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
}

.upper {
    text-transform: uppercase;
}

.sub-heading {
    font-size: 12px;
    color: var(--grey);
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.is-hidden {
    display: none !important;
}

.collapse {
    display: none;
}

.border {
    border-bottom: 1px solid var(--black);
}
/* nav */

.menu {
    display: none;
}

.mobile-container {
    padding: 0 20px;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
}

.logo-wrapper {
    display: flex;
    align-items: end;
    gap: 4px;
}

/* hero */

.hero {
    overflow: hidden;
    padding-top: 69px;
}

.hero .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 40px 20px;
    padding-bottom: 40px;
}

.hero .container > div {
    width: 100%;
}

.slider {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    background-color: var(--dark-green);
    overflow: hidden;
    max-width: 280px;
    height: 180px;
    margin-bottom: 29px;
}

.slider-item {
    padding: 10px 20px;
}

.slider-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 280px;
}

.slider-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--white);
    margin-right: 12px;
}

.slider-button:hover {
    border: 1px solid var(--white-transparent);
    cursor: pointer;
}

.slider-button .icon {
    width: 18px;
    height: 18px;
}

.slider-page {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.slider-page:nth-of-type(1)::after {
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background-color: var(--white);
}

.hero-text {
    max-width: 248px;
}

.hero-image::after {
    content: '';
    display: block;
    background: url(../images/hero-6.png) no-repeat center/cover;
    /* max-width: 335px; */
    height: 410px;
}

.menu .list {
    transition: font-size ease-in-out .5s;
}

.menu .list:hover {
    font-size: 20px;
    text-decoration: underline;
}

/* modal */

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.mobile-nav.is-hidden {
    transform: translateY(-100%);
}

.mobile-container {
    padding-top: 28.6px;
    color: var(--white);
    background-color: var(--dark-green);
    width: 100vw;
    height: 100vh;
    transition: transform 250ms ease-in-out;
}

.modal-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 460px;
    margin: 0 auto;
}

.mobile-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    text-transform: uppercase;
}

.mobile-nav-list .item {
    margin-bottom: 18px;
}

/* section one */

.about {
    margin-top: 40px;
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about .showcase {
    /* max-width: 335px; */
    height: 365px;
}

.about .showcase .image {
    height: 100%;
    object-fit: cover;
}

/* container */

.catalog .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.catalog .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.catalog .item {
    position: relative;
}

.image-wrapper {
    padding: 43px 30px;
}

.info-title {
    margin-bottom: 4px;
    width: 272px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x:hidden;
}

.catalog-button {
    align-self: end;
    border-radius: 8px;
    border: 1px solid transparent;
}

.catalog-button:hover
.catalog-form-button .button:hover {
    border: 1px solid var(--black);
}

.catalog .item:nth-child(8) ~ li {
    display: none;
}

.catalog .item:hover .image-wrapper {
    background: rgb(0, 0, 0, 0.2);
}

.catalog-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    bottom: 14%;
    right: 8%;
    gap: 26px;
    width: 276px;
    padding: 20px;
    border-radius: 8px;
    color: var(--grey-two);
    background-color: var(--dark-green);
    font-weight: 400;
    letter-spacing: -0.14px;
    z-index: 3;
}

.catalog-heading {
    color: var(--white);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: -0.28px;
}

/* modal */

.catalog-modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.catalog-modal .container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95vw;
    height: 98vh;
    overflow-y: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    color: var(--black);
    background-color: var(--white);
    transform: translate(-50%, -50%) scale(1);
}

.catalog-modal .icon {
    position: relative;
    left: 92%;
    margin-bottom: 8px;
    cursor: pointer;
}

.catalog-modal .content {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 40px;
}

.catalog-modal-watch {
    align-self: center;
}

.catalog-modal .image-wrapper {
    padding: 25px 0;
}

.catalog-modal .info-title {
    font-weight: 400;
}

.catalog-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.catalog-form-label p {
    padding-bottom: 12px;
}

.form-input,
.catalog-form > div,
.catalog-form .button, 
.catalog-form .comment { 
    width: 100%;
}

.form-input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--black-transparent);
}

.catalog-form .comment {
    resize: none;
    border-radius: 8px;
    padding: 12px 16px;
    height: 170px;
}

.catalog-form-button {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/* new */
.new .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.new .sub-heading {
    margin-bottom: 8px;
}

.new-watches {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* sale */

.sale .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sale-watches {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.sale-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.sale .icon {
    width: 16px;
    height: 16px;
    color: #C6CDD1;
}

.sale-title:hover,
.catalog-form-button .button:hover {
    cursor: pointer;
}

.sale-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 12px;
    background-color: var(--black);
}

.sub-heading.tag {
    margin: 8px 0 16px 0;
}

.sub-heading.price {
    margin-left: 8px;
    text-decoration: line-through;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sale-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 6px 0;
    margin-bottom: 9px;
    font-size: 18px;
    border-top: 1px solid var(--black);
}

.description .content,
.details .content {
    color: var(--grey);
}

/* footer */

.footer {
    background-color: var(--dark-green);
    color: var(--white);
    margin-bottom: 0;
}

.footer .container {
    display: flex;
    flex-flow: wrap column;
    gap: 80px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    white-space: nowrap;
}

.footer-list-wrapper {
    display: flex;
    justify-content: end;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-transform: uppercase;
}

.footer .logo {
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
}

.contact {
    display: block;
    margin-bottom: 20px;
}   
.footer .contact:hover,
.footer-list .item:hover {
    text-decoration: underline;
}

.footer-icon {
    display: flex;
    gap: 14px;
}

.footer .button:hover {
    border: 1px solid var(--white);
}

.footer .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--white-transparent);
}

.footer-nav > div {
    width: calc(100% / 2);
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-copyright .sub-heading {
    color: #C6CDD1;
}

.terms .link{
    margin-right: 14px;
}

@media (min-width: 769px) {
    
    /* general */
    
    .container {
        max-width: 850px;
        padding: 0 32px;
    }

    .button {
        font-size: 9px;
        font-style: normal;
        line-height: 12px;
        padding: 18px 35px;
    }
    
    .heading-one {
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 62px;
        letter-spacing: -2.4px;
    }
    
    .heading-two {
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.8px;
    }

    /* nav */
    
    .mobile-menu {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }

    .menu-list {
        display: flex;
        align-items: center;
        gap: 40px;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 400;
        line-height: 12px;
    }

    /* hero */

    .slider {
        max-width: 436px;
        height: 255px;
    }

    .slider-item {
        padding: 11px 44px;
    }

    .slider-pagination {
        max-width: 436px;
    }

    .hero {
        padding-top: 80px;
    }

    .hero .container {
       justify-content: start;
    }

    .hero .container > div {
        width: 61.8%;
    }

    .heading-wrapper,
    .hero-image {
        width: 100% !important;
    }

    .hero-image::after { 
        max-width: none;   
    }

    /* about */

    .about .container {
        gap: 40px;
    }

    .about .paragraph {
        flex-direction: row;
        justify-content: space-between;
    }

    .about .heading-two {
        white-space: nowrap;
    }

    .about .text {
        flex-direction: row;
    }

    .about .showcase {
        max-width: none;
        height: 465px;
    }

    /* catalog */

    .catalog .list {
        justify-content: center;
        flex-flow: wrap row;
        gap: 40px 32px;
    }

    .catalog .item {
        width: calc(100% / 2 - 32px);
    }

    .catalog-details-wrapper {
        bottom: 15%;
        right: -85%;
    }

    /* .catalog-details-wrapper:nth-of-type(even) {
        bottom: 15%;
        right: 110%;
    } */

    .catalog .button {
        font-size: 12px;
    }

    .catalog-modal .container {
        width: 744px;
        height: auto;
        padding-top: 30px;
    }

    .catalog-modal .icon {
        left: 97.5%;
    }

    .catalog-modal .content {
        flex-direction: row;
        gap: 20px;
        justify-content: space-evenly;
    }

    .catalog-modal-watch {
        align-self: start;
    }

    /* new */

    .new-watches  {
        flex-direction: row;
    }

    /* sale */

    .sale-watches {
        justify-content: center;
    }

    .sale-showcase {
        max-width: none;
    }

    .sale-watch {
        align-items: stretch;
        width: 58%;
    }

    .description-wrapper {
        padding: 0 66px;
    }

    /* footer */

    .footer-nav > div {
        width: calc(100% / 3);
    }

    .footer-list-wrapper {
        justify-content: center;
    }

    .footer-list {
        gap: 18px;
    }

    .footer-copyright {
        justify-content: space-between;
        flex-direction: row;
    }

    .footer-icon {
        justify-content: end;
        align-items: start;
        gap: 16px;
    }
}

@media (min-width: 1176px) {
    
    /* general */

    .container {
        max-width: 1250px;
        padding: 40px;
    }

    .logo {
        width: 19px;
        height: 19px;
    }

    .logo-text {
        font-size: 15px;
    }

    .menu-list {
        position: relative;
        right: 25%;
    }

    .dark .container {
        padding: 0 50px 40px 50px;
    }

    /* hero */

    .hero .container {
        justify-content: space-between;
        padding-top: 0;
    }

    .heading-wrapper {
        width: 750px !important;
    }

    .slider-wrapper {
        max-width: 434px;
        order: 1;
    }
    
    .hero-text {
        max-width: 282px;
    }

    .hero-image {
        max-width: 615px;
        order: 2;
    }

    /* about */

    .about .container {
        align-items: start;
        gap: 50px;
    }

    .about .paragraph {
        gap: 110px;
    }

    .about .text p:nth-child(1) {
        max-width: 439px;
    }

    .about .text p:nth-child(2) {
        max-width: 380px;
    }

    .about .showcase {
        align-self: end;
        max-width: 892px;
        height: 500px;
    }

    /* catalog */

    .catalog .container {
        gap: 50px;
    }

    .catalog .item {
        width: calc(100% / 4 - 25px);
    }

    .catalog .item:nth-child(8) ~ li {
        display: block;
    }

    .catalog .list {
        gap: 64px 24px;
    }

    .catalog-details-wrapper {
        bottom: -50%;
        right: -70%;
    }

    .catalog-modal .content {
        gap: 40px;
    }

    .catalog-modal .container {
        width: 904px;
    }

    .catalog-modal .icon {
        left: 98.5%;
    }

    /* new */

    .new .container {
        gap: 50px;
    }

    /* sale */

    .sale .container {
        flex-direction: row;
        padding-bottom: 0;
    }

    .sale-watch {
        width: auto;
        max-height: 614px;
    }

    .description-wrapper {
        max-width: 369px;
        height: 614px;
        padding: 0;
    }

    .sale-watches, 
    .description-wrapper {
        padding-top: 120px;
    }

    .description-wrapper .heading-two {
        font-size: 38px;
        font-weight: 400;
    }

    .description .heading-two,
    .details .heading-two {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.36px;
    }

    .description .content,
    .details .content {
        font-weight: 400;
        letter-spacing: -0.14px;
    }
}